@{
    ViewData["Title"] = "Congressional Condolence Generator";
}

<div class="text-center">
    <h1 class="display-4">Congressional Condolence Generator</h1>
    <p>"It's the least we can do." --Ted Cruz, probably</p>
</div>
<div>
    <h2>A tool to help Congress write their condolences to ensure that their condolences are truly the least they can do.</h2>
</div>

<div>
    <p>[I am/we are] [horrified/heartbroken] at the senseless tragedy at [location] on [DateTime][Year].
       [I am/we are] [lifting them up in prayer/praying for them] and thank the heroic [police/first responders]
       [who responded so quickly/on the scene].

       [Signature]
    </p>
</div>
