@using System.ComponentModel.DataAnnotations
@model CongressionalConsolationGenerator.Models.Condolence
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var subject = Model.SentenceSubject.GetAttribute<DisplayAttribute>();
    var verb = Model.Verb1.GetAttribute<DisplayAttribute>();
    var isDoubleVerb = Model.IsDoubleVerb;
    var verb2 = Model.Verb2.GetAttribute<DisplayAttribute>();
    var tragedy = Model.Tragedy.GetAttribute<DisplayAttribute>();
}

<p>@subject.Name @if (Model.SentenceSubject == Subject.I)
    {
        <p>am</p>
    }
    else
    {
        <p>are</p>
    }
</p>
<p>@verb.Name </p>@if (isDoubleVerb == true)
{
    <p>and @verb2.Name </p>
}
<p>at the @tragedy.Name</p> 

